.profile_type_open .profile__sidebar-container {
    display: block;
}

.profile_type_open .profile__sidebar {
    height: 100%;
}

.profile_type_open,
.profile_type_open .profile__content,
.profile_type_open .profile__content .list {
    overflow: hidden;
}
