.menu_type_vertical {
    text-align: left;
}

.menu_type_vertical .menu__link {
    display: block;
    padding: 0;
    margin-top: 10px;
}

.menu_type_vertical .menu__link:first-of-type {
    margin-top: 0;
}
