.link {
    color: #4461BA;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color: #4461BA;
}

.link:focus {
    color: #4461BA;
}

.link:active {
    color: #4461BA;
}
