@media (min-width: 450px) and (max-width: 799px) and (orientation: landscape) {

    .contact__info {
        display: inline-block;
        width: calc(80% - 20px);
        float: left;
        margin-left: 20px;
    }

}
