@media (min-width: 768px) {

    .list__item {
        flex: 33.3333%;
        max-width: 31%;
        margin-right: 20px;
    }

    .list__item:nth-child(3n) {
        margin-right: 0;
    }

    .list__item:last-of-type {
        margin-bottom: 20px;
    }

}