.textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: inherit;
    width: 100%;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}