@media (min-width: 1600px) {

    .list__item {
        flex: 25%;
        max-width: calc(25% - 20px);
    }

    .list__item:nth-child(3n) {
        margin-right: 20px;
    }

    .list__item:nth-child(4n) {
        margin-right: 0;
    }

}