.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    padding: 12px 10px;
    cursor: pointer;
    font-size: 21px;
    line-height: 1em;
    background-color: #999;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    vertical-align: top;
    margin: 0;
}

.button:hover {
    background-color: #777;
}

.button:visited {
    color: #fff;
}

.button:focus {
    color: #fff;
}

.button:active {
    color: #fff;
}
