.gallery__form {
    margin-bottom: 20px;
}

.gallery__form input {
    display: block;
    width: 1px !important;
    height: 1px !important;
    background-color: transparent !important;
    color: transparent !important;
    font-size: 0 !important;
    opacity: 0;
}
