.contact__name {
    font-size: 1.17em;
    font-weight: bold;
    margin: 20px 0;
}

@media (min-width: 450px) and (max-width: 799px) and (orientation: landscape) {

    .contact__name {
        margin-top: 0;
    }

}
