@media (min-width: 1024px) {

    .profile__gallery {
        width: 20%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

}